<div class="productTemplate">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-filter fa-lg"></i>筛选
      <div class="pull-right">
        <button type="button" class="btn btn-outline-primary btn-sm more" (click)="toggleLeft()">收起</button>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="reset()">重置</button>
        <button class="btn btn-primary btn-sm" data-style="expand-right" [ladda]='isLoading' (click)="queryByParam()">查询</button>
        <button [hidden]="buttons.indexOf(buttonPermission)==-1"
                class="btn btn-outline-primary btn-sm" (click)="updateState()">
          {{productState=='2'?'下架':'上架'}}
        </button>
      </div>

    </div>
    <div class="card-body" id="queryCondition">

      <div class="form-group row padding-l-r-15" id="{{item.id}}" *ngFor="let item of itemList; let i = index;">
        <strong class="col-sm-12 no-l-r-padding">{{item.title}}：</strong>
        <div [ngClass]="c.col"
             *ngFor="let c of item.child; let i = index;">

          <button type="button" class="btn btn-sm"
                  *ngIf="(!c.itemHidden||item.itemClick==item.itemFlag)&&c.type=='button'"
                  [class.selected]="item.multi?c.selected:item.itemFlag === c.cId||item.itemHiddenFlag=== c.cId"
                  (click)="itemFunction(item,c)">
            {{c.name}}
          </button>
          <input type="text" class="form-control form-control-sm"
                 *ngIf="(!c.itemHidden||item.itemClick==item.itemFlag)&&c.type=='input'"
                 placeholder="{{c.name}}" (blur)="selectFunction(item,c)" [(ngModel)]="c.val"
                 type="text">
          <input type="date" class="form-control form-control-sm"
          *ngIf="c.type=='date'" placeholder="yyyy-mm-dd"
          placeholder="{{c.name}}" (change)="selectFunction(item,c)" [(ngModel)]="c.val">
          <span *ngIf="(!c.itemHidden||item.itemClick==item.itemFlag)&&c.type=='span'"
                class="row-per">{{c.name}}</span>
          <label *ngIf="(!c.itemHidden||item.itemClick==item.itemFlag)&&c.type=='label'">{{c.name}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
