<div class="animated fadeIn">
  <div class="row">
    <div class='no-padding-right' [ngClass]="{'leftSmall':toggleFlag,'col-md-5':!toggleFlag}">
      <productTemplate [productState]="productState" [toggleFlag]="toggleFlag" [isLoading]="isLoading"
                       [buttonPermission]="buttonPermission" [itemList]="itemList" (returnEvent)="getByParam($event)"
                       (returnUpdateStateEvent)="updateState($event)"
                       (returnToggleEvent)="toogle($event)"></productTemplate>
    </div>
    <div class='no-padding-right' [ngClass]="{'rightStrong':toggleFlag,'col-md-7':!toggleFlag}">
      <div class="card">

        <div class="card-body">
          <table class="table table-responsive table-hover table-outline">
            <thead class="thead-default">
            <tr>
              <th></th>
              <th>基金名称</th>
              <th>产品类别</th>
              <th>产品期限</th>
              <th>产品状态</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let f of funds">
              <td>
                <input name="radio" type="radio"
                       (click)="recordCheck(f)"/>
              </td>
              <td>{{f.name}}</td>
              <td>{{f.categoryDesc}}</td>
              <td>{{(f.dateValueType=='1'?f.dateStart+f.dateUnitDesc:f.dateStart+'-'+f.dateEnd+f.dateUnitDesc)}}</td>
              <td>{{f.stateDesc}}</td>
              <td>
                <a [routerLink]="['/products/funds/detail',f.id]">详情
                </a>
              </td>
            </tr>

            </tbody>
          </table>
          <page *ngIf="loadMsgGrid.loaded" [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
    </div>
  </div>
</div>
