<div class="animated fadeIn">
  <div class="row">
    <div class='no-padding-right' [ngClass]="{'leftSmall':toggleFlag,'col-md-5':!toggleFlag}">
      <productTemplate [productState]="productState" [toggleFlag]="toggleFlag" [isLoading]="isLoading"
                       [buttonPermission]="buttonPermission" [itemList]="itemList" (returnEvent)="getByParam($event)"
                       (returnUpdateStateEvent)="updateState($event)"
                       (returnToggleEvent)="toogle($event)"></productTemplate>
    </div>
    <div class='no-padding-right' [ngClass]="{'rightStrong':toggleFlag,'col-md-7':!toggleFlag}">
      <div class="card">
        <div class="card-body">
          <table class="table table-responsive table-hover table-outline">
            <thead class="thead-default">
            <tr>
              <th></th>
              <th>主体评级</th>
              <th>期限</th>
              <th>参考收益率</th>
              <th>发行日</th>
              <th>产品状态</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let d of depositReceipt">
              <td>
                <input name="radio" type="radio"
                       (click)="recordCheck(d)"/>
              </td>
              <td>{{d.creditratingDesc}}</td>
              <td>{{d.dateStart+d.dateUnitDesc}}</td>
              <td>{{(d.interestrateValueType=='1'?d.interestrateStart:d.interestrateStart+'-'+d.interestrateStart)+'%'}}</td>
              <td>{{d.releaseDate}}</td>
              <td>{{d.stateDesc}}</td>
              <td>
                <a [routerLink]="['/products/depositReceipt/detail',d.id]">详情
                </a>
              </td>
            </tr>

            </tbody>
          </table>
          <page *ngIf="loadMsgGrid.loaded" [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
    </div>
  </div>
</div>
