<div class="animated fadeIn">
  <div class="row">
    <div class='no-padding-right' [ngClass]="{'leftSmall':toggleFlag,'col-md-5':!toggleFlag}">
      <productTemplate [productState]="productState" [toggleFlag]="toggleFlag" [isLoading]="isLoading"
                       [buttonPermission]="buttonPermission" [itemList]="itemList" (returnEvent)="getByParam($event)"
                       (returnUpdateStateEvent)="updateState($event)"
                       (returnToggleEvent)="toogle($event)"></productTemplate>
    </div>
    <div class='no-padding-right' [ngClass]="{'rightStrong':toggleFlag,'col-md-7':!toggleFlag}">
      <div class="card">
        <div class="card-body">
          <table class="table table-responsive table-hover table-outline">
            <thead class="thead-default">
            <tr>
              <th></th>
              <th>金额</th>
              <th>币种</th>
              <th>种类</th>
              <th>期限</th>
              <th>利率</th>
              <th>产品状态</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offline of offlineFunds">
              <td>
                <input name="radio" type="radio"
                       (click)="recordCheck(offline)"/>
              </td>
              <td>{{offline.amount+offline.amountUnitDesc}}</td>
              <td>{{offline.currencyUnitDesc}}</td>
              <td>{{offline.kindsDesc}}</td>
              <td>{{(offline.dateValueType=='1'?offline.dateStart:offline.dateStart+'-'+offline.dateEnd)+offline.dateUnitDesc}}</td>              
              <td>{{offline.interestrate+offline.interestrateUnitDesc}}</td>
              <td>{{offline.stateDesc}}</td>
              <td>
                <a [routerLink]="['/products/offlineFunds/detail',offline.id]">详情
                </a>
              </td>
            </tr>

            </tbody>
          </table>
          <page *ngIf="loadMsgGrid.loaded" [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
    </div>
  </div>
</div>
