<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" (click)="flag=!flag">
          产品详情
          <div class="pull-right">
            <i class="fa fa-caret-left fa-lg" [hidden]="flag" ></i>
            <i class="fa fa-caret-down fa-lg" [hidden]="!flag" ></i>
          </div>
        </div>
        <div class="card-body animated" [ngClass]="{'hide':!flag,'fadeIn':flag}" [hidden]="flag">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">产品名称</label>
                    <input class="col-md-3" type="text" class="form-control" [(ngModel)]="otherAssets.name" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">发行机构</label>
                    <input class="col-md-3" type="text" class="form-control" [(ngModel)]="otherAssets.issuer" readonly>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">投资类型</label>
                    <input class="col-md-3" type="text" class="form-control" [(ngModel)]="otherAssets.investmentType"
                           readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">运作时间</label>
                    <input class="col-md-3" type="text" class="form-control" [(ngModel)]="otherAssets.operationTime"
                           readonly>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">产品期限起</label>
                    <input class="col-md-3" type="text" class="form-control"
                           [(ngModel)]="otherAssets.dateStart+otherAssets.dateUnitDesc" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">产品期限止</label>
                    <input class="col-md-3" type="text" class="form-control"
                           [(ngModel)]="otherAssets.dateEnd+otherAssets.dateUnitDesc" readonly>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">收益率</label>
                    <input class="col-md-3" type="text" class="form-control" [value]="(otherAssets.interestrateValueType=='1'?otherAssets.interestrateStart+'%':otherAssets.interestrateStart+'-'+otherAssets.interestrateEnd+'%')"
                           readonly>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                      <label class="col-md-3 form-control-label" for="input-small">规模</label>
                      <input class="col-md-3" type="text" class="form-control"
                             [(ngModel)]="otherAssets.amount+otherAssets.amountUnitDesc" readonly>
                    </div>
                  </div>
              </div>
              <div class="form-group row">
                
                <div class="col-md-6">
                  <div class="input-group">
                    <label class="col-md-3 form-control-label" for="input-small">备注</label>
                    <input class="col-md-3" type="text" class="form-control" [(ngModel)]="otherAssets.remark" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                      <label class="col-md-3 form-control-label" for="input-small">附件</label>
                      <input class="col-md-3" type="text" class="form-control" [(ngModel)]="otherAssets.enclosure"
                             readonly>
                    </div>
                  </div>
              </div>
            </div>

          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="quoteId?['/order/list']:['/products/otherAssets/list']">
              返回
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" (click)="flag=!flag">
          报价列表
          <div class="pull-right">
            <i class="fa fa-caret-left fa-lg" [hidden]="!flag" ></i>
            <i class="fa fa-caret-down fa-lg" [hidden]="flag" ></i>
          </div>

        </div>
        <div class="card-body animated" [ngClass]="{'hide':flag,'fadeIn':!flag}" [hidden]="!flag">
          <productOfferTemplate [productId]="productId" [quoteId]="quoteId"></productOfferTemplate>
          
        </div>
      </div>
    </div>
  </div>
</div>
