.leftSmall {
  width: 100%;
  height: 46px;
}

.rightStrong {
  width: 100%;
}

.card-block {
  padding: 0px;
}

.card {
  margin-bottom: 0.5rem;
}

.productTemplate .card-body {
  padding: 0.5rem;
}

.card-body {
  padding: 0.5rem;
}

.input-group {
  padding: 0.2rem;
}

.card .card-body .form-group {
  margin-bottom: 0px;
}

.card .card-body .card {
  margin-bottom: 0.75rem;
}

.card-footer {
  padding: 0.2rem;
  border-top: 0px;
}

.card-header:hover {
  cursor: pointer;
  text-decoration: none;
}

.table thead th {
  border-bottom: 0px;
  border-top: 0px;
}

.table tbody td a {
  pointer: cursor;
  text-decoration: none;
}


