<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 用户修改
      </div>
      <form novalidate (ngSubmit)="doUpdate(form)" [formGroup]="form">

        <div class="card-body">
          <div class="card-body">
            <button type="button" class="btn btn-outline-info btn-sm" (click)="reset()">重置</button>
            <button type="submit" class="btn btn-outline-info btn-sm" [disabled]="form.invalid">提交</button>
            <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/base/admin/list']">返回</button>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="alert alert-danger" role="alert" *ngIf="errMsg">{{errMsg}}</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="id">ID</label>
                <div class="col-md-5">
                  <input type="text" id="id" name="id" class="form-control" [(ngModel)]="admin.id" formControlName="id" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="name">姓名</label>
                <div class="col-md-5">
                  <input type="text" id="name" name="name" class="form-control" [(ngModel)]="admin.person.name" formControlName="name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="username">登录名</label>
                <div class="col-md-5">
                  <input type="text" id="username" name="username" class="form-control" [(ngModel)]="admin.username" formControlName="username" disabled>
                </div>
                <div class="alert-danger form-control col-md-5" role="alert" [hidden]="form.get('username').valid || form.get('username').untouched">
                  <span [hidden]="!form.hasError('required','username')">登录名必填</span>
                  <span [hidden]="!form.hasError('pattern','username')">登录名由4-20位的英文字母数字或下划线组成</span>
                </div>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="sex">性别</label>
                <div class="col-md-5">
                  <select id="sex" name="sex" class="form-control" [(ngModel)]="admin.person.sex" formControlName="sex" readonly>
                            <option value="1">男</option>
                            <option value="2">女</option>
                          </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="birthday">生日</label>
                <div class="col-md-5">
                  <input type="date" id="birthday" name="birthday" class="form-control" (change)="date()" [(ngModel)]="admin.person.birthday"
                    formControlName="birthday">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="mobile">手机号</label>
                <div class="col-md-5">
                  <input type="text" id="mobile" name="mobile" class="form-control" [(ngModel)]="admin.person.mobile" formControlName="mobile">

                </div>
                <div class="alert-danger form-control col-md-5" role="alert" [hidden]="form.get('mobile').valid || form.get('mobile').untouched">
                  <span [hidden]="!form.hasError('pattern','mobile')">手机号格式不正确</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="tel">座机</label>
                <div class="col-md-5">
                  <input type="text" id="tel" name="tel" class="form-control" [(ngModel)]="admin.person.tel" formControlName="tel">
                </div>
                <div class="alert-danger form-control col-md-5" role="alert" [hidden]="form.get('tel').valid || form.get('tel').untouched">
                  <span [hidden]="!form.hasError('pattern','tel')">座机格式不正确</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="email">邮箱</label>
                <div class="col-md-5">
                  <input type="text" id="email" name="email" class="form-control" [(ngModel)]="admin.person.email" formControlName="email">
                </div>
                <div class="alert-danger form-control col-md-5" role="alert" [hidden]="form.get('email').valid || form.get('email').untouched">
                  <span [hidden]="!form.hasError('pattern','email')">邮箱格式不正确</span>
                </div>
              </div>
              <!-- <div class="form-group row">
              <label class="col-md-2 form-control-label" for="department">部门</label>
              <div class="col-md-5">
                <input type="text" id="departmentName" name="departmentName" class="form-control" [(ngModel)]="admin.person.departmentName"
                formControlName="departmentName">
              </div>
            </div> -->
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="job">职位</label>
                <div class="col-md-5">
                  <input type="text" id="job" name="job" class="form-control" [(ngModel)]="admin.person.job" formControlName="job">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="address">地址</label>
                <div class="col-md-5">
                  <input type="text" id="address" name="address" class="form-control" [(ngModel)]="admin.person.address" formControlName="address">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="remark">备注</label>
                <div class="col-md-5">
                  <input type="text" id="remark" name="remark" class="form-control" [(ngModel)]="admin.person.remark" formControlName="remark">
                </div>
              </div>
            </div>
          </div>
          <!--/.row-->

        </div>
      </form>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>