<div class="animated fadeIn">
  <div class="row">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="form-group row" style="margin-bottom:0px;">
            <label class="col-sm-1 form-control-label" for="select">状态</label>
            <div class="col-sm-5">
              <select id="select" name="select" class="form-control" [(ngModel)]="noticeParams.status">
                <option value=""></option>
                <option value="0">已发布</option>
                <option value="1">待审核</option>
                <option value="2">已通过</option>
                <option value="3">已拒绝</option>
                <option value="4">已下架</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-info btn-sm" (click)="query()">查询</button>
          <button class="btn btn-outline-info btn-sm" [routerLink]="['/cms/notice/add']" *ngIf="showButton('add')">增加</button>
          <button class="btn btn-outline-info btn-sm" (click)="goUpdate()" *ngIf="showButton('update')">修改</button>
          <button class="btn btn-outline-info btn-sm" data-toggle="modal" (click)="delete()" *ngIf="showButton('delete')">删除</button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div *ngIf="!loadMsgOrgGrid.loaded">
            {{loadMsgOrgGrid.message}}
          </div>
          <table class="table table-bordered table-sm">
            <thead>
            <tr>
              <th></th>
              <th>标题</th>
              <th>图片</th>
              <th>内容</th>
              <th>资讯类型</th>
              <th>描述</th>
              <th>状态</th>
              <th>有效时间</th>
              <th>创建时间</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notice of notices">
              <td>
                <input type="checkbox" (click)="recordCheck(notice)" />
              </td>
              <td>{{notice.title}}</td>
              <td>{{notice.imgurl}}</td>
              <td>{{notice.content}}</td>

              <td>{{notice.remark}}</td>
              <td>
                <select [(ngModel)]="notice.status" disabled>
                  <option value=""></option>
                  <option value="0">已发布</option>
                  <option value="1">待审核</option>
                  <option value="2">已通过</option>
                  <option value="3">已拒绝</option>
                  <option value="4">已下架</option>
                </select>

              </td>
              <td>{{notice.validity}}</td>
              <td>{{notice.updateTime}}</td>
              <td>{{notice.createTime}}</td>
              <td>
                <a routerLinkActive="active" [routerLink]="['/cms/notice/detail',this.notice.id]">详情</a>
              </td>
            </tr>

            </tbody>
          </table>
          <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
    </div>
  </div>
</div>
