<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 广告新增
      </div>
      <form novalidate (ngSubmit)="doAdd(form)" [formGroup]="form">                                        
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-md-2 form-control-label" for="title">标题</label>
              <div class="col-md-5">
                <input type="text" id="title" name="title" class="form-control" placeholder="请输入标题"
                formControlName="title">
              </div>
              <div class="alert-danger form-control col-md-5" role="alert"
              [hidden]="form.get('title').valid || form.get('title').untouched">
              <span [hidden]="!form.hasError('required','title')">标题必填</span>
         </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 form-control-label" for="content">内容</label>
              <div class="col-md-5">
                <input type="text" id="content" name="content" class="form-control" placeholder="请输入内容"
                formControlName="content">
              </div>
              <div class="alert-danger form-control col-md-5" role="alert"
              [hidden]="form.get('content').valid || form.get('content').untouched">
              <span [hidden]="!form.hasError('required','content')">内容必填</span>
         </div>
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-md-2 form-control-label" for="imgurl">图片</label>
              <div class="col-md-5">
                <input type="file" id="imgurl" name="imgurl" class="form-control" placeholder="请选择图片"
                 formControlName="imgurl" readonly>
              </div>
              <div class="alert-danger form-control col-md-5" role="alert"
              [hidden]="form.get('imgurl').valid || form.get('imgurl').untouched">
              <span [hidden]="!form.hasError('required','imgurl')">图片必选</span>
         </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 form-control-label" for="remark">描述</label>
              <div class="col-md-5">
                <input type="email" id="remark" name="remark" class="form-control" placeholder="请输入描述"
                formControlName="remark">
              </div>
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-md-2 form-control-label" for="select">状态</label>
              <div class="col-md-5">
                <select id="select" name="select" class="form-control" formControlName="status" readonly>
                  <option value=""></option>
                  <option value="0">已发布</option>
                  <option value="1">待审核</option>
                  <option value="2">已通过</option>
                  <option value="3">已拒绝</option>
                  <option value="4">已下架</option>

                </select>
              </div>
              <div class="alert-danger form-control col-md-5" role="alert"
              [hidden]="form.get('status').valid || form.get('status').untouched">
              <span [hidden]="!form.hasError('required','status')">状态必选</span>
         </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 form-control-label" for="select">有效时间</label>
              <div class="col-md-5">
                <input type="text" data-toggle="datepicker" class="form-control"  formControlName="validity"
                       readonly>

                <datepicker class="date-dropdown {{showStartDatepicker ? 'show' : 'hide'}}"
                            [showWeeks]="false"
                            [startingDay]="1">
                </datepicker>
              </div>
              <div class="alert-danger form-control col-md-5" role="alert"
              [hidden]="form.get('validity').valid || form.get('validity').untouched">
              <span [hidden]="!form.hasError('required','validity')">有效时间必填</span>
         </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-info btn-sm" (click)="reset()">重置</button>
          <button type="submit" class="btn btn-outline-info btn-sm" [disabled]="form.invalid">提交</button>                    
          <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/cms/notice/list']">返回</button>
        </div>


      </div>
      </form>
    </div>
  </div>
</div>

