<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          模版关键字：
          <button type="button" id="addBtn" class="btn btn-outline-info btn-sm" (click)="addBtn('type')">产品类型</button>
          <button type="button" id="addBtn" class="btn btn-outline-info btn-sm" (click)="addBtn('name')">产品名称</button>
          <button type="button" id="addBtn" class="btn btn-outline-info btn-sm" (click)="addBtn('member')">发布人</button>
          <button type="button" id="addBtn" class="btn btn-outline-info btn-sm" (click)="addBtn('org')">产品机构</button>
          <button type="button" id="addBtn" class="btn btn-outline-info btn-sm" (click)="addBtn('time')">产品时间</button>
        </div>
      </div>
      <form novalidate (ngSubmit)="doAdd(form)" [formGroup]="form">

        <div class="card-body">

          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-2 form-control-label">模版类型：</label>
                <select id="type" name="type" class="form-control" formControlName="type">
                        <option value="1">app分享</option>
                        <option value="2">产品推送</option>
                      </select>

              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-2 form-control-label" for="name">模版名称</label>
                <input class="col-md-10 form-control" type="text" id="name" name="name" placeholder="请输入模版名称" formControlName="name">

                <div class="alert-danger form-control col-md-5" role="alert" [hidden]="form.get('name').valid || form.get('name').untouched">
                  <span [hidden]="!form.hasError('required','name')">模版名称必填</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-2 form-control-label" for="name">描述</label>
                <input class="col-md-10 form-control" type="text" id="remark" name="remark" placeholder="请输入描述" formControlName="remark">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <label class="col-md-1 form-control-label" for="content">内容</label>
                <textarea rows="5" id="content" name="content" class="form-control" placeholder="请输入内容" formControlName="content"></textarea>
                <div class="alert-danger form-control col-md-5" role="alert" [hidden]="form.get('content').valid || form.get('content').untouched">
                  <span [hidden]="!form.hasError('required','content')">内容必填</span>
                </div>
              </div>
            </div>
          </div>


        </div>
    <!--/.row-->
    <div class="card-body">
      <button type="button" class="btn btn-outline-info btn-sm" (click)="reset()">重置</button>
      <button type="submit" class="btn btn-outline-info btn-sm" [disabled]="form.invalid">提交</button>
      <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/cms/messageTemplate/list']">返回</button>
    </div>



    </form>
  </div>
</div>
</div>