<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 会员认证
        </div>
        <!-- <form novalidate [formGroup]="form">                 -->
        <div class="card-body">
                <div class="card-body">
                        <button type="button" [hidden]="buttons.indexOf('member.member.checkAuthentication')==-1"
                        class="btn btn-outline-info btn-sm" (click)="authenticateNo()"
                        [disabled]="member.authentication=='3'" >
                  认证拒绝
                </button>
                <button class="btn btn-outline-info btn-sm"
                        [hidden]="buttons.indexOf('member.member.checkAuthentication')==-1" (click)="authenticateYes()"
                        >认证通过
                </button>                        
                        <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/base/member/list']">返回</button>
                      </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label" for="orgTempName">所属机构</label>
                        <div class="col-md-5">
                          <input type="text" id="orgTempName" class="form-control" [(ngModel)]="member.orgTempName"
                           >
                        </div>
                        <button type="button" class="btn btn-outline-info btn-sm"  (click)="selectOrg()">选择</button>
                        <!-- <div class="alert-danger form-control col-md-5" role="alert"
                        [hidden]="form.get('orgTempName').valid || form.get('orgTempName').untouched">
                     <span [hidden]="!form.hasError('required','orgTempName')">机构名称必填</span>
                   </div> -->
                      </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-12">
                      <div class="form-group row">
                              <label class="col-md-2 form-control-label" for="personTel">电话</label>
                              <div class="col-md-5">
                                <input type="text" id="personTel" name="personTel" class="form-control" [(ngModel)]="member.person.tel">
                              </div>
                              <!-- <div class="alert-danger form-control col-md-5" role="alert"
                              [hidden]="form.get('personTel').valid || form.get('personTel').untouched">
                           <span [hidden]="!form.hasError('required','personTel')">电话必填</span>
                         </div> -->
                            </div>
                            <div class="form-group row">
                              <label class="col-md-2 form-control-label" for="personDepartment">部门</label>
                              <div class="col-md-5">
                                <input type="text" id="personDepartment" name="personDepartment" class="form-control" [(ngModel)]="member.person.departmentName">
                              </div>
                              <!-- <div class="alert-danger form-control col-md-5" role="alert"
                              [hidden]="form.get('personDepartment').valid || form.get('personDepartment').untouched">
                           <span [hidden]="!form.hasError('required','personDepartment')">部门必填</span>
                         </div> -->
                            </div>
                            <div class="form-group row">
                              <label class="col-md-2 form-control-label" for="personJob">职务</label>
                              <div class="col-md-5">
                                <input type="text" id="personJob" name="personJob" class="form-control" [(ngModel)]="member.person.job">
                              </div>
                              <!-- <div class="alert-danger form-control col-md-5" role="alert"
                              [hidden]="form.get('personJob').valid || form.get('personJob').untouched">
                           <span [hidden]="!form.hasError('required','personJob')">职务必填</span>
                         </div> -->
                            </div>
                </div>
              </div><!--/.row-->
                
                
          
          
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>   
  
