<div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>用户名</th>
                    <th>状态</th>
                    <th>创建时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>
                      <input type="checkbox"/>
                    </td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>