.pagination .page-item .page-link {
  display: inline-block;
}

button.selected {
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
}

.text-sm {
  line-height: 35.2px;
  margin-left: 10px;
}
