<div class="row animated fadeIn">
  <!-- 机构树 -->
  <div [ngClass]="{'leftSmall':toggleOrgFlag,'col-md-3':!toggleOrgFlag}">
    <div class="card">
      <div class="card-header" (click)="toggleOrgFlag=!toggleOrgFlag">
        <i class="fa fa-align-justify"></i> 所有机构
      </div>
      <div class="card-body">
        <orgTree (queryOrgList)="queryOrgList($event)" [type]="orgType"></orgTree>
      </div>
    </div>
  </div>
  <div [ngClass]="{'rightStrong':toggleOrgFlag,'col-md-9':!toggleOrgFlag}">
      <div class="card">
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-4">
            <div class="input-group">
                                    <span class="input-group-btn">
                                      <button type="button" class="btn">锁定状态：</button>
                                    </span>
              <select id="lockup" name="lockup" class="form-control" [(ngModel)]="memberParams.lockup">
                <option value="">请选择</option>
                <option value="true">锁定</option>
                <option value="false">解锁</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
                                     <span class="input-group-btn">
                                      <button type="button" class="btn">禁用状态：</button>
                                    </span>
              <select id="select" name="select" class="form-control" [(ngModel)]="memberParams.forbidden">
                <option value="">请选择</option>
                <option value="true">停用</option>
                <option value="false">启用</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
                                         <span class="input-group-btn">
                                          <button type="button" class="btn">认证状态：</button>
                                        </span>
              <select name="authentication" class="form-control" [(ngModel)]="memberParams.authentication">
                <option value="">请选择</option>
                <option value="1">未认证</option>
                <option value="2">已认证</option>
                <option value="4">认证中</option>
                <option value="3">已拒绝</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">

          <div class="col-md-4">
            <div class="input-group">
                                      <span class="input-group-btn">
                                        <button type="button" class="btn">登录名：&nbsp;&nbsp;&nbsp;</button>
                                      </span>
              <input type="text" id="name" name="name" class="form-control" placeholder="请输入登录名"
                     [(ngModel)]="memberParams.username">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
                                      <span class="input-group-btn">
                                        <button type="button" class="btn">手机号：&nbsp;&nbsp;&nbsp;</button>
                                      </span>
              <input type="text" id="mobile" name="mobile" class="form-control" placeholder="请输入手机号"
                     [(ngModel)]="memberParams.mobile">
            </div>
          </div>
        </div>
      </div>
      <div class="card-header">
          <button type="button" class="btn btn-outline-info btn-sm" [ladda]='isLoading' (click)="query()">查询</button>
          <button type="button" [hidden]="buttons.indexOf('member.member.lock')==-1"
                  class="btn btn-outline-info btn-sm" (click)="lockup()">
            {{!seletedMember?'锁定': seletedMember.lockup?'解锁':'锁定'}}
          </button>
          <button type="button" [hidden]="buttons.indexOf('member.member.freeze')==-1"
                class="btn btn-outline-info btn-sm" (click)="forbidden()">
          {{!seletedMember?'禁用': seletedMember.forbidden?'启用':'禁用'}}
        </button>
          <button class="btn btn-outline-info btn-sm"
                  [hidden]="buttons.indexOf('member.member.modifyRegMobile')==-1" data-toggle="modal"
                  (click)="goModifyMobile()">手机号变更
          </button>
          
          <button class="btn btn-outline-info btn-sm"
          [hidden]="buttons.indexOf('member.member.checkAuthentication')==-1" (click)="authenticate()"
          [disabled]="seletedMember&&(seletedMember.authentication=='2'||seletedMember.authentication=='3'||seletedMember.authentication=='1')">认证
  </button>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
          <div *ngIf="!loadMsgOrgGrid.loaded">
            {{loadMsgOrgGrid.message}}
          </div>
          <table class="table table-responsive table-hover table-outline" *ngIf="loadMsgOrgGrid.loaded">
            <thead class="thead-default">
            <tr>
              <th></th>
              <th>登录名</th>
              <th>手机号</th>
              <th>锁定状态</th>
              <th>删除状态</th>
              <th>禁用状态</th>
              <th>认证状态</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of members">
              <td>
                <input id="checkbox{{member.id}}" name="radio" type="radio"
                       (click)="recordCheck(member)"/>
              </td>
              <td>{{member.username}}</td>
              <td>{{member.mobile}}</td>
              <td>{{member.lockup==true?'已锁定':'已解锁'}}</td>
              <td>{{member.omit==true?'已删除':'未删除'}}</td>
              <td>{{member.forbidden==true?'已停用':'已启用'}}</td>
              <td [ngStyle]="{'color':member.authentication === '3'?'red':'black'}">{{member.authentication=='1'?'未认证':member.authentication=='2'?'已认证':member.authentication=='4'?'认证中':'已拒绝'}}</td>
              <td>
                <a [routerLink]="['/memberbase/member/integralRecord',member.id]">积分详情
                </a>
              </td>
            </tr>

            </tbody>
          </table>

          <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
      </div>
  </div>
</div>
