<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" (click)="flag=!flag">
          产品详情
          <div class="pull-right">
            <i class="fa fa-caret-left fa-lg" [hidden]="flag" ></i>
            <i class="fa fa-caret-down fa-lg" [hidden]="!flag" ></i>
          </div>
        </div>
        <div class="card-body animated" [ngClass]="{'hide':!flag,'fadeIn':flag}" [hidden]="flag">
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">券种</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.quanzhongDesc"
                       readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">市场</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.marketDesc" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">发行人</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.issuer" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">发行人性质</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.publisherTypeDesc"
                       readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">债券名称</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.name" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">发行期限</label>
                <input class="col-md-3" type="text" class="form-control"
                       [(ngModel)]="creditDebt.dateStart+creditDebt.dateUnitDesc" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">债券代码</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.code" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">预测区间起</label>
                <input class="col-md-3" type="text" class="form-control" [value]="creditDebt.forecastStart+'-'+creditDebt.forecastEnd+'%'"
                       readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">上市市场</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.marketDesc" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">发行规模</label>
                <input class="col-md-3" type="text" class="form-control"
                       [(ngModel)]="creditDebt.amount+creditDebt.amountUnitDesc" readonly>
              </div>
            </div>
          </div>

          <div class="form-group row">
            
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">担保</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.guarantee" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">评级公司</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.ratingFirmDesc"
                       readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">债项评级</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.obligationDesc"
                       readonly>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">主体评级</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.companyDesc" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">发行日</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.releaseDate" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">上市日</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.listingDate" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">缴款日</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.paymentDate" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">备注:</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="creditDebt.remark" readonly>
              </div>
            </div>
          </div>
         
          <div class="pull-right">
            <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="quoteId?['/order/list']:['/products/creditDebt/list']">
              返回
            </button>
          </div>
        </div>

      </div>
      <div class="card">
        <div class="card-header" (click)="flag=!flag">
          报价列表
          <div class="pull-right">
            <i class="fa fa-caret-left fa-lg" [hidden]="!flag" ></i>
            <i class="fa fa-caret-down fa-lg" [hidden]="flag" ></i>
          </div>

        </div>
        <div class="card-body animated" [ngClass]="{'hide':flag,'fadeIn':!flag}" [hidden]="!flag">
          <productOfferTemplate [productId]="productId" [quoteId]="quoteId"></productOfferTemplate>
          
        </div>
      </div>
    </div>
  </div>
</div>
