<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" (click)="flag=!flag">
          产品详情
          <div class="pull-right">
            <i class="fa fa-caret-left fa-lg" [hidden]="flag"></i>
            <i class="fa fa-caret-down fa-lg" [hidden]="!flag"></i>
          </div>
        </div>
        <div class="card-body animated" [ngClass]="{'hide':!flag,'fadeIn':flag}" [hidden]="flag">
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">产品名称</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.name" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">发行机构</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.issuer" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">投资类型</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.investmentTypeDesc" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">运作时间</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.operationTime" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">产品期限</label>
                <input class="col-md-3" type="text" class="form-control" [value]="(managementPlan.dateValueType=='1'?managementPlan.dateStart+managementPlan.dateUnitDesc:managementPlan.dateStart+'-'+managementPlan.dateEnd+managementPlan.dateUnitDesc)"
                  readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">收益率</label>
                <input class="col-md-3" type="text" class="form-control" [value]="(managementPlan.interestrateValueType=='1'?managementPlan.interestrateStart+'%':managementPlan.interestrateStart+'-'+managementPlan.interestrateEnd+'%')"
                  readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">总规模</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.amount+managementPlan.amountUnitDesc"
                  readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">销售金额</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.salesAmount+managementPlan.salesAmountUnitDesc"
                  readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">底层资产描述</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.underlyingAssets" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="input-small">附件</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="managementPlan.enclosure" readonly>
              </div>
            </div>

          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="quoteId?['/order/list']:['/products/managementPlan/list']">
              返回
            </button>
          </div>
        </div>
        
      </div>
      <div class="card">
          <div class="card-header" (click)="flag=!flag">
            报价列表
            <div class="pull-right">
              <i class="fa fa-caret-left fa-lg" [hidden]="!flag"></i>
              <i class="fa fa-caret-down fa-lg" [hidden]="flag"></i>
            </div>

          </div>
          <div class="card-body animated" [ngClass]="{'hide':flag,'fadeIn':!flag}" [hidden]="!flag">
            <productOfferTemplate [productId]="productId" [quoteId]="quoteId"></productOfferTemplate>
            
          </div>
        </div>
    </div>
  </div>