<div class="animated fadeIn">
  <div class="row">
    <div class="card-body">
      <div class="card">
        <!-- <div class="card-body">
          <div class="form-group row" style="margin-bottom:0px;">
            <div class="col-md-4">
              <div class="input-group">
                                        <span class="input-group-btn">
                                          <button type="button" class="btn">名称：&nbsp;&nbsp;&nbsp;</button>
                                        </span>
                <input type="text" id="name" name="name" class="form-control" placeholder="请输入名称"
                       [(ngModel)]="circleParams.name">
              </div>
            </div>
          </div>
        </div> -->
        <div class="card-footer">
          <button type="button" class="btn btn-outline-info btn-sm"
            (click)="lockup()">
            {{!selectedProfit?'锁定': selectedProfit.lockup?'解锁':'锁定'}}
          </button>

          <button class="btn btn-outline-info btn-sm" (click)="goUpdate()" *ngIf="showButton('update')">修改</button>


        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div *ngIf="!loadMsgOrgGrid.loaded">
            {{loadMsgOrgGrid.message}}
          </div>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th></th>
                <th>类型</th>
                <th>权益值</th>
                <th>状态</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>更新时间</th>
              </tr>
            </thead>
            <tbody *ngIf="loadMsgOrgGrid.loaded">
              <tr *ngFor="let profit of profits">
                <td>
                  <input id="checkbox{{profit.id}}" name="radio" type="radio" (click)="recordCheck(profit)" />
                </td>
                <td>{{profit.typeDesc}}</td>
                <td>{{profit.parameter}}</td>
                <td>{{profit.lockup==true?'锁定':'解锁'}}</td>
                <td>{{profit.remark}}</td>
                <td>{{profit.createTime}}</td>
                <td>{{profit.updateTime}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>