<div class="animated fadeIn">
  <div class="row">
    <div class='no-padding-right' [ngClass]="{'leftSmall':toggleFlag,'col-md-5':!toggleFlag}">
      <productTemplate [productState]="productState" [toggleFlag]="toggleFlag" [isLoading]="isLoading"
                       [buttonPermission]="buttonPermission" [itemList]="itemList" (returnEvent)="getByParam($event)"
                       (returnUpdateStateEvent)="updateState($event)"
                       (returnToggleEvent)="toogle($event)"></productTemplate>
    </div>
    <div class='no-padding-right' [ngClass]="{'rightStrong':toggleFlag,'col-md-7':!toggleFlag}">
      <div class="card">
        <div class="card-body">
          <table class="table table-responsive table-hover table-outline">
            <thead class="thead-default">
            <tr>
              <th></th>
              <th>交易种类</th>
              <th>票据类型</th>
              <th>剩余期限</th>
              <th>利率</th>
              <th>金额</th>
              <th>产品状态</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let b of bill">
              <td>
                <input name="radio" type="radio"
                       (click)="recordCheck(b)"/>
              </td>
              <td>{{b.kindsDesc}}</td>
              <td>{{b.typeDesc}}</td>
              <td>{{b.deadline+b.deadlineUnitDesc}}</td>
              <td>{{b.interestrate+b.interestrateUnitDesc}}</td>
              <td>{{b.amount+b.amountUnitDesc}}</td>
              <td>{{b.stateDesc}}</td>
              <td>
                <a [routerLink]="['/products/bill/detail',b.id]">详情
                </a>
              </td>
            </tr>

            </tbody>
          </table>
          <page *ngIf="loadMsgGrid.loaded" [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
    </div>
  </div>
</div>
