<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" (click)="assertFlag=!assertFlag">
          资金方
          <div class="pull-right">
            <i class="fa fa-caret-left fa-lg" [hidden]="assertFlag"></i>
            <i class="fa fa-caret-down fa-lg" [hidden]="!assertFlag"></i>
          </div>
        </div>
        <div class="card-body animated" [ngClass]="{'hide':!assertFlag,'fadeIn':assertFlag}" [hidden]="!assertFlag">

          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="name">资金方姓名</label>
                <input id="name" class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.name" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="mobile">手机号</label>
                <input id="mobile" class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.mobile" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">所属机构:</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.orgName" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">地址</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.address"
                       readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">昵称:</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.nickname" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">邮箱:</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.email" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" >部门:</label>
                <textarea class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.departmentName" readonly></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" >岗位:</label>
                <textarea class="col-md-3" type="text" class="form-control" [(ngModel)]="moneyInfo.job" readonly></textarea>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="card">
        <div class="card-header" (click)="moneyflag=!moneyflag">
          资产方
          <div class="pull-right">
            <i class="fa fa-caret-left fa-lg" [hidden]="moneyflag"></i>
            <i class="fa fa-caret-down fa-lg" [hidden]="!moneyflag"></i>
          </div>
        </div>
        <div class="card-body animated" [ngClass]="{'hidden':!moneyflag,'fadeIn':moneyflag}" [hidden]="!moneyflag">

          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="name">资产方姓名</label>
                <input id="name" class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.name" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" for="mobile">手机号</label>
                <input id="mobile" class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.mobile" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">所属机构:</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.orgName" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">地址</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.address"
                       readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">昵称:</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.nickname" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label">邮箱:</label>
                <input class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.email" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" >部门:</label>
                <textarea class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.departmentName" readonly></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-3 form-control-label" >岗位:</label>
                <textarea class="col-md-3" type="text" class="form-control" [(ngModel)]="assertInfo.job" readonly></textarea>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div [ngSwitch]="productType">
        <!--线上资金-->
        <div *ngSwitchCase="1">
          <onlineFundsDetailTemplate [productId]="productId" [quoteId]="quoteId"></onlineFundsDetailTemplate>
        </div>
        <!--线下资金-->
        <div *ngSwitchCase="2">
          <offlineFundsDetailTemplate [productId]="productId" [quoteId]="quoteId"></offlineFundsDetailTemplate>
        </div>
        <!--同业理财-->
        <div *ngSwitchCase="3">
          <financingDetailTemplate [productId]="productId" [quoteId]="quoteId"></financingDetailTemplate>
        </div>
        <!--债券（金融债）-->
        <div *ngSwitchCase="4">
          <financialDebtDetailTemplate [productId]="productId" [quoteId]="quoteId"></financialDebtDetailTemplate>
        </div>
        <!--债券（利率债）-->
        <div *ngSwitchCase="5">
          <interestDebtDetailTemplate [productId]="productId" [quoteId]="quoteId"></interestDebtDetailTemplate>
        </div>
        <!--债券（信用债）-->
        <div *ngSwitchCase="6">
          <creditDebtDetailTemplate [productId]="productId" [quoteId]="quoteId"></creditDebtDetailTemplate>
        </div>
        <!--存单-->
        <div *ngSwitchCase="7">
          <depositReceiptDetailTemplate [productId]="productId" [quoteId]="quoteId"></depositReceiptDetailTemplate>
        </div>
        <!--票据-->
        <div *ngSwitchCase="8">
          <billDetailTemplate [productId]="productId" [quoteId]="quoteId"></billDetailTemplate>
        </div>
        <!--基金-->
        <div *ngSwitchCase="9">
          <fundsDetailTemplate [productId]="productId" [quoteId]="quoteId"></fundsDetailTemplate>
        </div>
        <!--ABS-->
        <div *ngSwitchCase="10">
          <ABSDetailTemplate [productId]="productId" [quoteId]="quoteId"></ABSDetailTemplate>
        </div>
        <!--资管计划-->
        <div *ngSwitchCase="11">
          <ManagementPlanDetailTemplate [productId]="productId" [quoteId]="quoteId"></ManagementPlanDetailTemplate>
        </div>
        <!--信托计划-->
        <div *ngSwitchCase="12">
          <trustPlanDetailTemplate [productId]="productId" [quoteId]="quoteId"></trustPlanDetailTemplate>
        </div>
        <!--其他资产-->
        <div *ngSwitchCase="13">
          <otherAssetsDetailTemplate [productId]="productId" [quoteId]="quoteId"></otherAssetsDetailTemplate>
        </div>
        <!--存量资金-->
        <div *ngSwitchCase="14">
          <commonStockFundsDetailTemplate [productId]="productId" [quoteId]="quoteId"></commonStockFundsDetailTemplate>
        </div>
        <!--通用服务-->
        <div *ngSwitchCase="15">
          <commonServiceDemandDetailTemplate [productId]="productId"
                                             [quoteId]="quoteId"></commonServiceDemandDetailTemplate>
        </div>
      </div>

    </div>
  </div>
</div>
