<div class="animated fadeIn">
  <div class="row">
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-outline-info btn-sm"
            (click)="lockup()" [hidden]="buttons.indexOf('base.member.intergralRule.lock')==-1">
            {{!selectedIntegralRule?'锁定': selectedIntegralRule.lockup?'解锁':'锁定'}}
          </button>

          <button class="btn btn-outline-info btn-sm" (click)="goUpdate()"
          [hidden]="buttons.indexOf('base.member.intergralRule.update')==-1">修改</button>


        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div *ngIf="!loadMsgOrgGrid.loaded">
            {{loadMsgOrgGrid.message}}
          </div>
          <table class="table table-responsive table-hover table-outline">
            <thead class="thead-default">
              <tr>
                <th></th>
                <th>名称</th>
                <th>类型</th>
                <th>积分</th>
                <th>状态</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>更新时间</th>
              </tr>
            </thead>
            <tbody *ngIf="loadMsgOrgGrid.loaded">
              <tr *ngFor="let integralRule of integralRules">
                <td>
                  <input id="checkbox{{integralRule.id}}" name="radio" type="radio" (click)="recordCheck(integralRule)" />
                </td>
                <td>{{integralRule.name}}</td>
                <td>{{integralRule.typeDesc}}</td>
                <td>{{integralRule.score}}</td>
                <td>{{integralRule.lockup==true?'锁定':'解锁'}}</td>
                <td>{{integralRule.remark}}</td>
                <td>{{integralRule.createTime}}</td>
                <td>{{integralRule.updateTime}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
