<div class="animated fadeIn">
  <div class="row">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="form-group row" style="margin-bottom:0px;">
            <div class="col-md-4">
              <div class="input-group">
                   <span class="input-group-btn">
                    <button type="button" class="btn">广告类型：</button>
                   </span>
                <select class="col-md-10" id="type" name="type" class="form-control" [(ngModel)]="advertiseParams.type"
                        readonly>
                  <option value="1">轮播</option>
                  <option value="2">公告</option>
                  <option value="3">弹出</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header">
          <button type="button" class="btn btn-outline-info btn-sm" [ladda]='isLoading' (click)="query()">查询</button>
          <button class="btn btn-outline-info btn-sm" [routerLink]="['/cms/advertise/add']" [hidden]="buttons.indexOf('cms.advertise.add')==-1">
            增加
          </button>
          <button class="btn btn-outline-info btn-sm" (click)="goUpdate()" [hidden]="buttons.indexOf('cms.advertise.update')==-1">修改</button>
          <button class="btn btn-outline-info btn-sm" (click)="delete()" [hidden]="buttons.indexOf('cms.advertise.delete')==-1">删除
          </button>
          <button type="button" class="btn btn-outline-info btn-sm" (click)="lockup()" [hidden]="buttons.indexOf('cms.advertise.lock')==-1">
            {{!selectedAdvertise?'锁定': selectedAdvertise.lockup?'解锁':'锁定'}}
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div *ngIf="!loadMsgOrgGrid.loaded">
            {{loadMsgOrgGrid.message}}
          </div>
          <table class="table table-responsive table-hover table-outline" *ngIf="loadMsgOrgGrid.loaded">
            <thead class="thead-default">
            <tr>
              <th></th>
              <th>标题</th>
              <th>图片</th>
              <th>排序</th>
              <th>广告类型</th>
              <th>锁定状态</th>
              <th>创建时间</th>
              <th>内容</th>
            </tr>
            </thead>
            <tbody *ngIf="loadMsgOrgGrid.loaded">
            <tr *ngFor="let advertise of advertises">
              <td>
                <input type="radio" name="radio" (click)="recordCheck(advertise)"/>
              </td>
              <td>{{advertise.title}}</td>
              <td>{{advertise.img}}</td>
              <td>{{advertise.sort}}</td>
              <td>{{advertise.typeDesc}}</td>
              <td>{{advertise.lockup==true?'已锁定':'已解锁'}}</td>
              <td>{{advertise.createTime}}</td>
              <td><a routerLinkActive="active" [routerLink]="['/cms/advertise/detail',this.advertise.id]">查看</a></td>
            </tr>

            </tbody>
          </table>
          <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
    </div>
  </div>
</div>
