<div class="animated fadeIn">
  <div class="row">
    <div class="card-body">
      <div class="card">
        
        <div class="card-header">
          <button type="button" class="btn btn-outline-info btn-sm" [ladda]='isLoading' (click)="query()">查询</button>
          <button class="btn btn-outline-info btn-sm" (click)="goAdd()">增加</button>
          <button class="btn btn-outline-info btn-sm" (click)="goUpdate()">修改</button>
          <button class="btn btn-outline-info btn-sm" (click)="delete()">删除
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div *ngIf="!loadMsgOrgGrid.loaded">
            {{loadMsgOrgGrid.message}}
          </div>
          <table class="table table-responsive table-hover table-outline" *ngIf="loadMsgOrgGrid.loaded">
            <thead class="thead-default">
            <tr>
              <th></th>
              <th>关键字</th>
              <th>删除状态</th>
              <th>创建时间</th>
              <th>更新时间</th>
            </tr>
            </thead>
            <tbody *ngIf="loadMsgOrgGrid.loaded">
            <tr *ngFor="let keyword of keywords">
              <td>
                <input type="radio" (click)="recordCheck(keyword)"/>
              </td>
              <td>{{keyword.keyword}}</td>
              <td>{{keyword.omit==true?'已删除':'未删除'}}</td>
              <td>{{keyword.createTime}}</td>
              <td>{{keyword.updateTime}}</td>
            </tr>

            </tbody>
          </table>
          <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)"></page>
        </div>
      </div>
    </div>
  </div>
</div>
