<div class="row">
  <div class="col-lg-12">
    <div class="card">

      <form novalidate (ngSubmit)="doUpdate(form)" [formGroup]="form">
        <div class="card-header">
          <button type="submit" class="btn btn-outline-info btn-sm" [disabled]="form.invalid">提交</button>
          <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/sys/keyword/list']">返回</button>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <label class="col-md-2 form-control-label" for="keyword">关键字</label>
                <input class="col-md-10" type="text" id="keyword" name="keyword" class="form-control"
                 [(ngModel)]="keywords.keyword" formControlName="keyword">
                <div class="alert-danger form-control col-md-5" role="alert" [hidden]="form.get('keyword').valid || form.get('keyword').untouched">
                  <span [hidden]="!form.hasError('required','keyword')">关键字必填</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>