<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#" style="background-image:url('assets/img/logo.png');background-size:auto"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarMinimizer>&#9776;</button>
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">基础管理</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">需求管理</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">交易管理</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">统计分析</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">热度排名</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">积分管理</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto">
    
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
        <span class="d-md-down-none">{{user.name}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>设置</strong></div>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/resetPwd']"><i class="fa fa-shield"></i> 修改密码</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> 退出</a>
      </div>
    </li>
    <!-- <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button> -->
  </ul>
</header>
